<!-- INCLUDE overall_header.html -->
<h2>{L_BAN_LIST}</h2>
       <div class="forabg">
       <div class="inner"><span class="corners-top"><span></span></span>
          <ul class="topiclist">
             <li class="header">
                <dl class="icon">
                   <dd style="width: 25%" class="responsive-show">&nbsp;&nbsp;&nbsp; {L_BANNED_NAME} </dd>
				   <dd style="width: 20%" class="responsive-hide">&nbsp;&nbsp;&nbsp;{L_BAN_IN}</dd>
                   <dd style="width: 20%" class="responsive-hide">&nbsp;&nbsp;&nbsp;{L_BAN_OUT}</dd>
                   <dd style="width: 35%" class="responsive-hide">&nbsp;&nbsp;&nbsp;{L_BAN_REASON}</dd>
                </dl>
             </li>
          </ul>
          <ul class="topiclist forums">
             <!-- BEGIN risultati -->
             <li>
                <dl>
                   <dd style="width: 25%; padding: 3px; border-bottom: 1px solid #cdcdcd;" class="responsive-show">&nbsp;&nbsp;{risultati.NOME}</dd>
				   <dd style="width: 20%; padding: 3px 0; border-bottom: 1px solid #cdcdcd;" class="responsive-hide">&nbsp;&nbsp;{risultati.BANIN}</dd>
                   <dd style="width: 20%; padding: 3px 0; border-bottom: 1px solid #cdcdcd;" class="responsive-hide">&nbsp;&nbsp;{risultati.BAN}</dd>
                   <dd style="width: 35%; padding: 3px 0; border-bottom: 1px solid #cdcdcd;" class="responsive-hide">&nbsp;&nbsp;{risultati.MOTIVO}</dd>
                    </dl>
                 </li>
              <!-- END risultati -->
          </ul>
                   
                   <span class="corners-bottom"><span></span></span>
     </div></div>
                        <h2>{TOTAL_BAN}</h2>
                        <br /><br />
                        <h1><a href="{U_BANLIST_PAGE_TYPE}">{CHANGE_TYPE}</a></h1>

<h2>Ban List Extension by <a href="http://brunino.altervista.org">Brunino</a> based on the Ban List Mod of Barrnet</h2>

    <!-- INCLUDE overall_footer.html -->
